doctype html
html(lang="en")
  include head/head.pug
  title #{docTitle}
  body 
    header.page-header
      nav(class="page-nav container")
        ul.page-nav__list
          li: a(href="/" class="page-nav__link") Home
    main
      div.container
        form(action='/product' method='POST')
          input(type="text" name="title")
          input(type="text" name="age")
          button(type="submit") SUBMIT
