<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <header class="page-header">
    <nav class="page-nav container">
      <ul class="page-nav__list">
        <li><a href="/" class="page-nav__link">Home</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container">
      <form action='/product' method='POST'>
        <input type='text' name='title'>
        <input type='text' name='age'>
        <button type='submit'>SUBMIT</button>
      </form>
    </div>
  </main>
  
</body>
</html>