doctype html
html(lang="en")
  include head/head.pug
  title Not Found
  body 
    header.page-header
      nav(class="page-nav container")
        ul.page-nav__list
          li: a(href="/" class="page-nav__link") Home
    main
      section.container
        h1 ERROR KURDE!

